<html>
  <head th:replace="~{base::head}">	
</head>
   
    <body>
    	<div class="logo-container mb-3 p-3 d-flex justify-content-between">
		    <span class="logo">mudi</span>
		    <span class="mt-3">login</span>
		</div> 
    
        <div class="container">
            <div class="jumbotron mb-0">
                <h1 class="display-4">Novo Pedido</h1>
            </div>
			<div class="card mt-3" >
	            <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
	                <div class="form-group">
	                    <label for="nomeProduto">Produto</label>
	                    <input th:field="*{nomeProduto}" class="form-control is-invalid"  placeholder="nome do produto"/>
	                    <small>Informa qual o nome do produto.</small>
	                    <div class="invalid-feedback" th:errors ="*{nomeProduto}">
	                    	erros nome do produto
	                    </div>
	                </div>
	                <div "form-group">
	                    <label for="urlProduto">Url</label>
	                    <input  th:field="*{urlProduto}"  class="form-control is-invalid"  placeholder="url do produto"/>
	                    <small>Procure em um site o produto que você deseja e cole a url da página aqui.</small>
	                    <div class="invalid-feedback" th:errors ="*{urlProduto}">
	                    	erros url do produto
	                    </div>
	                </div>
	                <div "form-group">
	                    <label for="urlImagem">Imagem</label>
	                    <input th:field="*{urlImagem}"  class="form-control is-invalid" placeholder="url da imagem"/>
	                    <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</small>
	                    <div class="invalid-feedback" th:errors ="*{urlImagem}">
	                    	erros urlImagem
	                    </div>
	                </div>
	                <div "form-group">
	                    <label for="descricao">Descrição</label>
	                    <textarea th:field="*{descricao}" class="form-control"  placeholder="Adicione detalhes importantes para ajudar o comprador."></textarea>
	                </div>
	                <button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
	            </form>
            </div>
        </div>
    </body>
</html>